*.[oa]
*.l[oa]
*.pyc
GNUmakefile
Makefile
Makefile.in
html/
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/recode.dvi
/doc/recode.info
/doc/recode.pdf
/doc/recode.t2d/
/doc/recode.t2p/
/doc/stamp-vti
/INSTALL
/install-sh
/lib/.deps/
/libtool
/ltmain.sh
/missing
/po/*.gmo
/po/.reference/
/po/Makefile.in
/po/POTFILES
/po/remove-potcdate.sed
/po/stamp-po
/python/Recode.c
/recode-*.tar.gz
/src/.deps/
/src/.libs/
/src/charname.h
/src/decsteps.h
/src/fr-charname.h
/src/iconvdecl.h
/src/inisteps.h
/src/merged.c
/src/recode
/src/recode.1
/src/rfc1345.h
/src/stamp-steps
/src/stamp-strip
/src/strip-data.c
/src/strip-pool.c
/src/tersteps.h
/stamp-h1
/tests/setup.py
/tests/Recode.body.c
/tests/Recode.c
/tests/Recode.so
