/Makefile.gnulib
/dummy.c
/_Noreturn.h
/arg-nonnull.h
/basename-lgpl.c
/c++defs.h
/dirname-lgpl.c
/dirname.h
/dosname.h
/errno.in.h
/error.c
/error.h
/getopt-cdefs.in.h
/getopt-core.h
/getopt-ext.h
/getopt-pfx-core.h
/getopt-pfx-ext.h
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/getprogname.c
/getprogname.h
/gettext.h
/intprops.h
/malloc.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/pathmax.h
/stdbool.in.h
/stddef.in.h
/stdio.h
/stdio.in.h
/stdlib.h
/stdlib.in.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.h
/string.in.h
/stripslash.c
/sys/types.h
/sys_types.in.h
/unistd.c
/unistd.h
/unistd.in.h
/verify.h
/warn-on-use.h
/Makefile.am
